@media (min-width: 1308px) and (max-width: 1450px) {
  #im_wo {
    top: 317px !important;
  }
  .more {
    top: 1448px !important;
  }
}
@media (min-width: 1000px) and (max-width: 1450px) {
  .start {
    left: 54%;
  }
  .forma {
    left: 35%;
  }
  .answer {
    font-size: 16px;
  }
  #one {
    font-size: 25px;
    width: 600px;
  }
  .main {
    width: 73%;
    left: 147px;
  }
  .wrap_1, .wrap_2, .wrap_3 {
    font-size: 17px;
  }
  .more {
    top: 1540px;
    height: 287px;
    width: 66%;
    max-width: 1054px;
    left: 11%;
  }
  .myBody {
    width: 84%;
  }
  .our_1 {
    font-size: 17px;
  }
  #im_wo {
    top: 350px;
  }
  .special {
    font-size: 16px;
  }
  .desc {
    height: 266px;
  }
  .starto {
    font-size: 22px;
    height: 59px;
    top: 530px;
    width: 80%;
  }
  .wrap_about1 {
    font-size: 20px !important;
  }
  #we {
    padding-right: 50px;
    text-align: center;
    height: 250px;
    padding-left: 115px;
  }
  #plath {
    padding-left: 65px;
  }
  .together {
    min-width: 640px;
    font-size: 21px;
    left: 20%;
  }
  #rocky {
    width: 225px;
    position: relative;
    top: -200px;
    left: 4px;
   }
   .wrap_coin {
     right: 40px;
   }
   .descr {
     left: 230px;
   }
   .descr_form {
      top: 490px;
      display: grid;
      width: 400px;
   }
   .descr_form > input {
      margin-top: 12px;
      width: 100%;
      font-size: 20px;
      height: 26%;
      left: -6px;
   }
   .gold > img {
     top: -200px !important;
   }
   .congr {
     font-size: 20px;
   }
   .wrap_profile {
      width: 52%;
      height: 300px;
      float: left;
      left: 130px;
   }
   .profile_image {
      width: 125px;
   }
   .general_info {
      top: 38px;
      left: 35%;
      width: 60%;
      height: 200px;
   }
   .wrap_full22 {
      grid-gap: 0 70px;
   }
   #gold2 {
      left: -8px;
   }
   #gold1 {
      left: -27px;
   }
   #gold3 {
      left: -43px;
   }
   .ourour {
      top: 128px;
      left: 55%;
      width: 38px;
      height: 38px;
      font-size: 20px;
   }
   .change_data {
      font-size: 14px;
      top: 20px;
      position: relative;
   }
   .change_form {
      margin-top: -300px !important;
      width: 300px;
      left: 30%;
      height: 150px;
   }
   .com_change {
      position: relative;
      margin-right: 20px;
      height: 28px;
      width: 114px;
      top: 20px;
   }
   #but_2 {
      position: relative;
      top: 20px;
   }
   .wrap_nav {
      width: 148px;
      padding-left: 10px;
      border-radius: 20px;
      top: -37px;
   }
   .my_success {
     position: relative;
     left: 30px;
   }
   .profile_zone {
      top: 332px;
      width: 98%;
      height: 351px;
      left: 15px;
   }
   .wrap_full {
      top: -47px;
      width: 70%;
      height: 393px;
   }
   .wrap_scores {
      left: 19%;
      top: 309px;
   }
   .wrap_rait {
      width: 96%;
      height: 861px;
      left: -56px;
   }
}

@media (min-width: 1450px) and (max-width: 1900px) {
  #im_wo {
    top: 250px;
  }
  .congr {
    font-size: 20px;
  }
  .special {
    font-size: 17px;
  }
  .desc {
    height: 240px;
  }
  #dev {
    font-size: 21px;
    height: 160px;
    width: 80%;
  }
  #we {
    top: 140px !important;
    width: 80%;
    height: 200px;
    font-size: 21px;
  }
  #platf {
    font-size: 21px;
    text-align: center;
    top: 200px !important;
    height: 160px;
    width: 80%;
    padding-left: 100px;
  }
    .together {
      font-size: 25px;
      min-width: 770px;
    }
    #rocky {
      left: 0px;
    }
    .wrap_coin {
      right: 40px;
    }
    .descr_form {
      top: 470px;
      width: 500px;
    }
    .ourour {
      left: 60%;
      width: 45px;
      height: 45px;
    }
    .wrap_profile {
      width: 56%;
      height: 340px;
    }
    .profile_image {
      width: 140px;
   }
   .general_info {
      top: 17px;
   }
   .profile_zone {
      width: 96%;
   }
   .wrap_nav {
     width: 170px;
   }
   .com_change {
     margin-right: 30px;
   }
   .wrap_scores {
      width: 57%;
      position: relative;
      left: 25%;
   }
   #cup {
       width: 185px;
   }
   .wrap_rait {
      width: 82%;
      height: 940px;
      left: 0px;
      min-width: 380px;
   }
}

@media (min-width: 1450px) {
  .more {
    top: 1366px;
  }
    #im_wo {
      top: 260px;
  }
}
@media (min-width: 1100px) and (max-width: 1230px) {
  .main {
    top: 84px;
  }
}
