.starto {
  position: relative;
  height: 70px;
  top: 550px;
  left: -20px;
  border-radius: 30px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  background-color: #00d2ff;
  -webkit-box-shadow: 2px 2px 10px;
          box-shadow: 2px 2px 10px;
  font-size: 25px;
}
.starto:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.counter {
  position: absolute;
  top: 250px;
  width: 140px;
  height: 140px;
  color: #3a7bd5;
  left: 88%;
  background-color: #E5EDF7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  float: left;
  font-size: 40px;
  border-radius: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: counter 3s linear infinite;
          animation: counter 3s linear infinite;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.countDown1 {
  position: relative;
  width: 70%;
  top: 580px;
  left: -200px;
  float: left;
  font-size: 25px;
  color:  white;
  height: 80px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 45px;
}
.countDown {
  position: absolute;
  width: 100%;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-column-align: center;
      justify-self: center;
}
.wrap_self {
    position: relative;
    width: 100%;
    height: 900px;
    top: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% 1fr 10%;
    grid-template-columns: 10% 1fr 10%;
    background-image: -o-linear-gradient(65deg, #3a7bd5, #00d2ff);
    background-image: linear-gradient(25deg, #3a7bd5, #00d2ff);
}

.que {
  position: relative;
  left: -200px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}
#name_q {
  position: relative;
  top: -110px;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}
#ans {
  position: relative;
  top: -50px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  width: 40%;
  left: 30%;
  height: 50px;
  margin-top: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
          transform: scale(1.15);
          background-color: #e5edf7;
          border-radius: 20px;
}
#ans:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
          transform: scale(1.2);
          cursor: pointer;
          box-shadow: 3px 3px 10px #00d2ff;
}
#fail {
      position: relative;
      width: 200px;
      top: 30px;
      left: 40px;
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      grid-column: 2 / 3;
}

.wrap_fail {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    top: 150px;
}

.footer_pos {
  position: relative;
  top: -700px;
}
.wrap_start {
  position: relative;
  width: 100%;
  min-width: 170px;
  height: 70px;
  cursor: pointer;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, right top, left top, from(#00d2ff), to(#3a7bd5));
  background-image: -o-linear-gradient(right, #00d2ff, #3a7bd5);
  background-image: linear-gradient(to left, #00d2ff, #3a7bd5);
  grid-rows: 3 / 4;
  font-size: 20px;
}

.wrap_start:hover + .rocket {
  position: relative;
  display: none;
  -webkit-transform: translateX(300px);
      -ms-transform: translateX(300px);
          transform: translateX(300px);
}
.wrap_start:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.time_1, .time_2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}
.time_2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
#link {
  text-decoration: none;
  color: #1c1c1c;
  color: white;
  width: 44%;
  position: relative;
  top: 100px;
  left: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.rocket {
  position: relative;
  width: 200px;
}
#rocket {
  position: relative;
  width: 200px;
  top: 300px;
  left: 100px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: rocket 6s ease infinite;
          animation: rocket 6s ease infinite;
}

.try {
    padding: 20px;
    height: 100px;
    text-align: center;
    -webkit-box-shadow: -4px -4px 10px #00d2ff;
            box-shadow: -4px -4px 10px #00d2ff;
    border-radius: 20px 20px 0 20px;
}

@-webkit-keyframes counter {
  0% { -webkit-transform: scale(1) rotate(30deg); -ms-transform: scale(1) rotate(30deg); transform: scale(1) rotate(30deg);}
  50% { -webkit-transform: scale(1.1) rotate(-30deg); -ms-transform: scale(1.1) rotate(-30deg); transform: scale(1.1) rotate(-30deg); }
  100% { -webkit-transform: scale(1) rotate(30deg); -ms-transform: scale(1) rotate(30deg); transform: scale(1) rotate(30deg); }
}
@keyframes counter {
  0% { -webkit-transform: scale(1) rotate(30deg); -ms-transform: scale(1) rotate(30deg); transform: scale(1) rotate(30deg);}
  50% { -webkit-transform: scale(1.1) rotate(-30deg); -ms-transform: scale(1.1) rotate(-30deg); transform: scale(1.1) rotate(-30deg); }
  100% { -webkit-transform: scale(1) rotate(30deg); -ms-transform: scale(1) rotate(30deg); transform: scale(1) rotate(30deg); }
}

@-webkit-keyframes rocket {
  0% { -webkit-transform: rotate(45deg) translate(0px, 0px);
     -ms-transform: rotate(45deg) translate(0px, 0px);
      transform: rotate(45deg) translate(0px, 0px);}

  25% { -webkit-transform: rotate(75deg) translate(100px, -600px);
     -ms-transform: rotate(75deg) translate(100px, -600px);
      transform: rotate(75deg) translate(100px, -600px); }

  75% { -webkit-transform: rotate(90deg) translate(200px, -900px);
     -ms-transform: rotate(90deg) translate(200px, -900px);
      transform: rotate(90deg) translate(200px, -900px);
      opacity: 1;}

  75.4% { opacity: 0;}

  100% {  -webkit-transform: rotate(45deg) translate(0px, 0px);
     -ms-transform: rotate(45deg) translate(0px, 0px);
      transform: rotate(45deg) translate(0px, 0px);
      opacity: 0;}
}
@keyframes rocket {
  0% { -webkit-transform: rotate(45deg) translate(0px, 0px);
     -ms-transform: rotate(45deg) translate(0px, 0px);
      transform: rotate(45deg) translate(0px, 0px);}

  25% { -webkit-transform: rotate(75deg) translate(100px, -600px);
     -ms-transform: rotate(75deg) translate(100px, -600px);
      transform: rotate(75deg) translate(100px, -600px); }

  75% { -webkit-transform: rotate(90deg) translate(200px, -900px);
     -ms-transform: rotate(90deg) translate(200px, -900px);
      transform: rotate(90deg) translate(200px, -900px);
      opacity: 1;}

  75.4% { opacity: 0;}

  100% {  -webkit-transform: rotate(45deg) translate(0px, 0px);
     -ms-transform: rotate(45deg) translate(0px, 0px);
      transform: rotate(45deg) translate(0px, 0px);
      opacity: 0;}
}
